<div class="d-none d-md-flex gap-3 justify-content-start align-items-center py-3">
    <div class="dropdown">
        <a href="#"
           class="btn dropdown-toggle btn-pill btn-outline-primary"
           data-bs-toggle="dropdown">Sort by</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Third action</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#"
           class="btn dropdown-toggle btn-pill btn-outline-primary"
           data-bs-toggle="dropdown">Category</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Third action</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#"
           class="btn dropdown-toggle btn-pill btn-outline-primary"
           data-bs-toggle="dropdown">Material</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Third action</a>
        </div>
    </div>
    <div class="dropdown">
        <a href="#"
           class="btn dropdown-toggle btn-pill btn-outline-primary"
           data-bs-toggle="dropdown">Finishing</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Third action</a>
        </div>
    </div>
    <a href=""
       class="ms-auto"
       data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasFilter"
       aria-controls="offcanvasFilter"><i class="ti ti-filter mr-3"></i> All Filters</a>
</div>
<div class="d-md-none d-flex justify-content-between pt-3">
    <p class="">
        Sort by <span class="fw-bold">Relevance</span>
    </p>
    <a href=""
       class="ms-auto"
       data-bs-toggle="offcanvas"
       data-bs-target="#offcanvasFilter"
       aria-controls="offcanvasFilter"><i class="ti ti-filter mr-3"></i> All Filters</a>
</div>
<div class="pb-3 pt-1">
    <a href="" class="btn btn-pill btn-sm mb-2"><i class="ti ti-x">&nbsp;</i>Furnitures</a>
    <a href="" class="btn btn-pill btn-sm mb-2"><i class="ti ti-x">&nbsp; </i> Coffee Tables</a>
    <a href="" class="btn btn-pill btn-sm mb-2"><i class="ti ti-x">&nbsp; </i> Coffee Tables</a>
    <a href="" class="btn btn-pill btn-sm mb-2"><i class="ti ti-x">&nbsp; </i> Coffee Tables</a>
    <a href="" class="btn btn-pill btn-sm mb-2"><i class="ti ti-x">&nbsp; </i> Teak</a>
    <a href="" class="border-bottom fs-5 mb-2">Clear all</a>
</div>
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-end py-0"
     tabindex="-1"
     id="offcanvasFilter"
     aria-labelledby="offcanvasFilter">
    <div class="offcanvas-header py-3">
        <h5 class="offcanvas-title fw-bold" id="offcanvasLabel">Filter</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse1"
                            aria-expanded="false"
                            aria-controls="flush-collapse1">Category</button>
                </h2>
                <div id="flush-collapse1"
                     class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse2"
                            aria-expanded="false"
                            aria-controls="flush-collapse2">Material</button>
                </h2>
                <div id="flush-collapse2"
                     class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#flush-collapse3"
                            aria-expanded="false"
                            aria-controls="flush-collapse3">Finishing</button>
                </h2>
                <div id="flush-collapse3"
                     class="accordion-collapse collapse show">
                    <div class="accordion-body">
                        Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</div>
