<div class="container py-5">
    <div class="row">
        <div class="col-12 col-md-3 d-flex align-items-center">
            <img src="https://placehold.co/600x400" alt="" srcset="">
        </div>
        <div class="col-12 col-md-7">
            <div class="fs-2 fw-bolder mt-3">Product Name</div>
            <div class="fs-1">$50</div>
            <p class="mt-3">
                The Basic tee is an honest new take on a classic. The tee uses super soft, pre-shrunk cotton for true comfort and a dependable fit. They are hand cut and sewn locally, with a special dye technique that gives each tee it's own look.
                Looking to stock your closet? The Basic tee also comes in a 3-pack or 5-pack at a bundle discount.
            </p>
            <div>
                <p class="fw-bold">Variant</p>
                <div class="dropdown">
                    <a href="#" class="btn dropdown-toggle w-100" data-bs-toggle="dropdown">Open dropdown</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Third action</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-2">
            <div class="dropdown mt-3">
                <a href="#" class="btn dropdown-toggle w-100" data-bs-toggle="dropdown">Quantity</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                </div>
            </div>
            <a href="" class="btn btn-primary w-100 mt-3">
                <i class="ti ti-shopping-cart-plus mx-3 fs-2"></i>
                Add to bag
            </a>
        </div>
    </div>
</div>
