// ======================
// Palette
// ======================

$primary : #2a9d8f;
$secondary : #264653;
$danger: #E76F51;
$success: #e9c46a;
$warning: #F4A261;
$info: aqua;
$body-bg: #f3f3f0;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";


// ======================
// typography
// ======================

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}


.display-1 {
    font-size: 4.6rem;
    font-weight: 800;
}

.display-2 {
    font-size: 3.5rem;
    font-weight: 800;
}

.display-3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.display-4 {
    font-size: 1.75rem;
    font-weight: 600;
}

.display-5 {
    font-size: 1.25rem;
    font-weight: 600;
}

.display-6 {
    font-size: 1rem;
    font-weight: 400;
}

.lead {
    font-size: 1.25rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    font-weight: 600;
}

.border-bold{
    border:solid black 1px;
}

// ======================
// UTILS
// ======================
.homepage-hero-module{
    position:relative;
  }
  .bg-overlay{
    background: -webkit-gradient(linear,left top,left bottom,from(#1c7ce0c4),to(#150051));
      background: linear-gradient(to bottom,#1c7ce0c4,#150051);
      width:100%;
      display:block;
      top:0;
      bottom:0;
      left:0;
      right:0;
  }