{% load static %}
<!doctype html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="container my-5 col-xxl-8 py-5">
        <div class="p-3 pb-md-5 mx-auto text-center d-flex justify-content-center flex-column"
             style="height:40vh;">
            <lottie-player class="w-100 mt-5 pt-5" src="https://assets4.lottiefiles.com/packages/lf20_4s3kvfcn.json"  background="transparent"  speed="1"  style="width: 500px; height: 400px;"  loop  autoplay></lottie-player>
            <h2 class="pb-2 fw-bold display-2 text-center">Our Website is Under Maintenance</h2>
        </div>
    </div>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
