<div class="container col-xxl-8 border">
<div class="px-4 py-5 my-5 text-center">
    <h1 class=" fw-bold lead">Web Development Tool for Agencies and Clients</h1>
    <h1 class=" fw-bold display-2">Django Web Template</h1>
    <div class="col-lg-6 mx-auto">
        <p class="display-4 lh-base mb-4">The smarter, easier, more efficient way to manage websites in your workflow.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3 text-white">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
    <div class="overflow-hidden mt-4" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-docs.png"
                 class="img-fluid border rounded-3 shadow-lg mb-4"
                 alt="Example image"
                 width="700"
                 height="500"
                 loading="lazy">
        </div>
    </div>
</div>
</div>
