{% load static %}
<div class="container col-xxl-8 px-4 py-5" id="icon-grid">
  <h2 class="pb-2 fw-bold lead text-center">Category</h2>
  <h2 class="pb-2 border-bottom fw-bold display-3 text-center">Sub Heading</h2>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
        <path d="M14 19l2 2l4 -4"></path>
        <path d="M9 8h4"></path>
        <path d="M9 12h2"></path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
        <path d="M14 19l2 2l4 -4"></path>
        <path d="M9 8h4"></path>
        <path d="M9 12h2"></path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
        <path d="M14 19l2 2l4 -4"></path>
        <path d="M9 8h4"></path>
        <path d="M9 12h2"></path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">Featured title</h4>
        <p>Paragraph of text beneath the heading to explain the heading.</p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"></path>
        <path d="M14 19l2 2l4 -4"></path>
        <path d="M9 8h4">
        </path>
        <path d="M9 12h2">
        </path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">
          Featured title
        </h4>
        <p>
          Paragraph of text beneath the heading to explain the heading.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none">
        </path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8">
        </path>
        <path d="M14 19l2 2l4 -4">
        </path>
        <path d="M9 8h4">
        </path>
        <path d="M9 12h2">
        </path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">
          Featured title
        </h4>
        <p>
          Paragraph of text beneath the heading to explain the heading.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none">
        </path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8">
        </path>
        <path d="M14 19l2 2l4 -4">
        </path>
        <path d="M9 8h4">
        </path>
        <path d="M9 12h2">
        </path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">
          Featured title
        </h4>
        <p>
          Paragraph of text beneath the heading to explain the heading.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none">
        </path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8">
        </path>
        <path d="M14 19l2 2l4 -4">
        </path>
        <path d="M9 8h4">
        </path>
        <path d="M9 12h2">
        </path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">
          Featured title
        </h4>
        <p>
          Paragraph of text beneath the heading to explain the heading.
        </p>
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <svg xmlns="http://www.w3.org/2000/svg"
           class="text-primary flex-shrink-0 me-3 icon icon-tabler icon-tabler-checklist"
           width="40"
           height="40"
           viewBox="0 0 24 24"
           stroke-width="2"
           stroke="currentColor"
           fill="none"
           stroke-linecap="round"
           stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none">
        </path>
        <path d="M9.615 20h-2.615a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8">
        </path>
        <path d="M14 19l2 2l4 -4">
        </path>
        <path d="M9 8h4">
        </path>
        <path d="M9 12h2">
        </path>
      </svg>
      <div>
        <h4 class="fw-bold mb-0">
          Featured title
        </h4>
        <p>
          Paragraph of text beneath the heading to explain the heading.
        </p>
      </div>
    </div>
  </div>
</div>
